#ui-layer {
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: none;
}

.screen {
  position: absolute;
  inset: 0;

  display: none;

  pointer-events: auto;
}

.screen.active {
  display: block;
}

.hidden {
  display: none !important;
}